@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
      margin: 0;
      padding: 0;
      font-family: 'Poppins', sans-serif;
}
body{
      min-height: 100vh;
      background-size: 25%;
      text-align: center;
}
.mainScreen{
      height: 100vh;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      position: fixed;
      top: 0;
      text-align: center;
}
.headingArea{
      width: 100%;
      background-color: blue;
      padding: 10px 20px;
      text-align: center;
}
.heading{
      color: white;
      font-weight: bold;
}
.sub-heading{
      color: red;
}
h3{
      color: white;
}
input{
      width: 300px;
      height: 30px;
      font-size: 20px;
}
.startBtn{
      font-size: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
}
.b2{
      margin-left: 10px;
      margin-right: 10px;
}